*{
    font-family: cursive;
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(to right,rgb(42, 158, 96),rgb(102, 169, 133));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    background-color: white;
    width: fit-content;
    padding: 50px;
    box-shadow: 5px 5px 10px;
}
input{
    padding: 10px;
    border-radius: 5px;

}
h1{
    color: hotpink;
}
input[type="button"]{
    background-color: aqua;
}
label{
    color:blue;
}